div.HyperMD-header>.cm-header-1 { font-size: 2.33rem !important; }
div.HyperMD-header>.cm-header-2 { font-size: 1.83rem !important; }
div.HyperMD-header>.cm-header-3 { font-size: 1.55rem !important; }
div.HyperMD-header>.cm-header-4 { font-size: 1.31rem !important; }
div.HyperMD-header>.cm-header-5 { font-size: 1.16rem !important; }
div.HyperMD-header>.cm-header-6 { font-size: 1rem !important; }

div.HyperMD-header>span.cm-formatting-header-1 { font-size: 2.26rem !important; }
div.HyperMD-header>span.cm-formatting-header-2 { font-size: 1.1rem !important; }
div.HyperMD-header>span.cm-formatting-header-3 { font-size: 0.76rem !important; }
div.HyperMD-header>span.cm-formatting-header-4 { font-size: 0.51rem !important; }
div.HyperMD-header>span.cm-formatting-header-5 { font-size: 0.40rem !important; }
div.HyperMD-header>span.cm-formatting-header-6 { font-size: 0.33rem !important; }

div.HyperMD-header>span.cm-formatting-header {
  color: transparent !important;
  background:none;
}

div.HyperMD-header>span.cm-formatting-header::before {
  display: inline-block;
  white-space: nowrap;
  word-wrap: none;
  width:0;
  overflow:visible;
  font-size: 0.75rem;
  color: var(--text-muted);
}
div.HyperMD-header>span.cm-formatting.cm-formatting-header-1::before {
  content: 'H1';
}
div.HyperMD-header>span.cm-formatting.cm-formatting-header-2::before {
  content: 'H2';
}
div.HyperMD-header>span.cm-formatting.cm-formatting-header-3::before {
  content: 'H3';
}
div.HyperMD-header>span.cm-formatting.cm-formatting-header-4::before {
  content: 'H4';
}
div.HyperMD-header>span.cm-formatting.cm-formatting-header-5::before {
  content: 'H5';
}
div.HyperMD-header>span.cm-formatting.cm-formatting-header-6::before {
  content: 'H6';
}
